<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Stuart V 2.0 Login</title>
    <link href="@Url.Content("~/Content/menustyles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Tab.css")" rel="stylesheet" type="text/css" />
    <!--<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/Bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/myCSS.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/jquery-ui.css" rel="stylesheet" />
  
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Stuart 2.0", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
           
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Stuart Application</p>
        </footer>
    </div>

   
    @RenderSection("scripts", required: false)
</body>
</html>
