@{
    ViewBag.Title = "Admin";
}
<title>Orgler - Tab Security</title>
<link rel="stylesheet" href="~/StyleSheets/ui-grid.css" />
@section scripts {

    <script src="@Url.Content("~/App/Admin/App.js")"></script>
    <script src="@Url.Content("~/App/Admin/Controllers/TabSecurityCtrl.js")"></script>
    <script src="@Url.Content("~/App/Admin/Controllers/TabSecurityDeleteCtrl.js")"></script>
    <script src="@Url.Content("~/App/Admin/Controllers/TabSecurityEditCtrl.js")"></script>
    <script src="@Url.Content("~/App/Admin/Controllers/TabSecurityInsertCtrl.js")"></script>   
    <script src="@Url.Content("~/App/Admin/Services/TabSecurityService.js")"></script>
    <script src="@Url.Content("~/App/Admin/Directives/AdminDirectives.js")"></script>
    @*<script src="@Url.Content("~/App/Admin/Services/HelperServices.js")"></script>*@
}

@*@section jsCode {
    angular.bootstrap(document.getElementById("adminMod"), ['adminMod']);
}*@
<div class="container-fluid" ng-app="adminModule" id="adminModule">
    <br />
    <div class="row">
        <div class="container-fluid">
            <div ui-view="headerContent" ></div>
            <div ui-view="pageContent" ></div>
        </div>
    </div>

    <!--Model Po-up-->
    <div class="modal fade" id="adminMessageDialogBox" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>